body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
}

.main {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #051D34;
    margin-bottom: 20px;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dashboard-option {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 200px;
}

.dashboard-option a {
    color: #051D34;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.dashboard-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin: 15px 0 5px;
    color: #333;
    text-align: left;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.submit-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #051D34;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button.submit-button:hover {
    background-color: #034572;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
